.submenu {
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #582B2B !important;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.submenu a {
    display:block;
    text-align:left;
    color:white;
    text-decoration:none;
    margin-bottom:10px;
}
.submenu a:hover {
    text-decoration:underline;
}
.navbar-inverse {
    background-color:#582B2B !important;
}
