BLL/bin/Debug/
BLL/obj/Debug/
DAL_MYSQL/bin/Debug/
DAL_MYSQL/obj/Debug/
DAL_SQL/bin/Debug/
DAL_SQL/obj/Debug/
DesktopView/bin/Debug/
DesktopView/obj/Debug/
SQL_DAL/bin/Debug/
SQL_DAL/obj/Debug/
Trabalho/bin/Debug/
Trabalho/obj/Debug/
Types/bin/Debug/
Types/obj/Debug/
WebView/bin/
WebView/bin/Debug/
WebView/obj/Debug/
